{include file="pageheader.htm"}
{insert_scripts files='../js/quickView.js'}
<div class="BodyRight">
	<div class="RightDetill">
		<ul>
			<li class="Green"><a href="http://www.nitc.cc/About-nitc/488.html#_Toc239504381" target="_blank">查看演示文件</a></li>
			<li class="SkyBlue"><a href="help_document.php?action=download">下载演示文档</a></li>
			<li class="Black">操作帮助请详见演示文件!</li>
			<li class="DetillRigh"></li>
		</ul>
	</div>

	<div class="PageContent">
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
		  <tr>
			<td class="LineRightBlue1">
				<table width="95%" border="0" cellpadding="0" cellspacing="0" style="margin-left:20px;">
			  <tr>
				<td width="88%" height="24">广告管理 > 广告列表</td>
				<td width="12%" align="right" class="bt_add">{if $adv_manage==true}<a href="ad_manage.php?action=add">添加</a>{/if}</td>
			  </tr>
			</table>
			</td>
		  </tr>
		</table>
		
		<form name="theForm" method="post" action="">
        <div class="tablelisthead">
        <ul>
        <li class="li_10">排序</li>
        <li class="li_30">广告名称</li>
        {if $language|@count>1}
        <li class="li_20">语言</li>
        {/if}
        <li class="li_20">添加日期</li>
        {if $adv_manage==true}
        <li class="li_10">显示状态</li>
        {/if}
        <li class="li_10">编辑</li>
        </ul>
        </div>
        <div class="tablelist">
        {section name=loop loop=$ad}
        <ul onmouseover="this.style.background ='#FFFDD7'" onmouseout="this.style.background ='#FFFFFF'">
        <li class="li_10"><input type="text" value="{$ad[loop].sort_order}" name="sort_order[{$ad[loop].ad_id}]"  maxlength="3" size="2" class="listinput"/></li>
        <li class="li_30">{if $ad[loop].ad_file}
					<a href="#" title="{$ad[loop].ad_file}">{$ad[loop].img} {$ad[loop].name}</a>
					{else}
					{$ad[loop].img} {$ad[loop].name}
					{/if}</li>
        {if $language|@count>1}
        <li class="li_20">{$ad[loop].language}</li>
        {/if}
        <li class="li_20">{$ad[loop].date_added}</li>
        {if $adv_manage==true}
        <li class="li_10"><a href="ad_manage.php?action=state&ad_id={$ad[loop].ad_id}">{$ad[loop].state}</a></li>
        {/if}
        <li class="li_10 operation">{if $adv_manage==true}
				<a href="ad_manage.php?action=edit&ad_id={$ad[loop].ad_id}" title="编辑" class="op_edit"></a>
			{else}
				<span class="op_edit_off"></span>
			{/if}
			{if $adv_del==true}
				<a href="ad_manage.php?action=del&ad_id={$ad[loop].ad_id}" onClick="return window.confirm('确定删除该广告?');" title="删除" class="op_del"></a>
			{else}
				<span class="op_del_off"></span>
			{/if}</li>
        </ul>
        {/section}
        </div>
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		  <tr>
			<td height="36" class="BotNavBg">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			  <td style="padding-left:5px;">{if $adv_manage==true}<input type="button" value=" 排序 " name="button" OnClick="javascript:dosort();">{/if}</td>
			  </tr>
			</table>
			</td>
		  </tr>
		</table>
		</form>
	</div>
</div>
<script type="text/javascript">
{literal}
function clearSearchText(searchText){
	if(document.getElementById(searchText).value=="查找产品信息..."){
		document.getElementById(searchText).value="";
	}
}

function doSearchSubmit(){
	if(document.getElementById("searchText").value=="查找产品信息..."){
		document.getElementById("searchText").value="";
	}	
}

function dosort(){
	document.theForm.action="ad_manage.php?action=order";
	document.theForm.submit();
}
{/literal}
</script>
{include file="pagefooter.htm"}