{include file="pageheader.htm"}
{insert_scripts files='../js/quickView.js'}
<div class="BodyRight">
	<div class="RightDetill">
		<ul>
			<li class="Green"><a href="http://www.nitc.cc/About-nitc/488.html#_Toc239504394" target="_blank">查看演示文件</a></li>
			<li class="SkyBlue"><a href="help_document.php?action=download">下载演示文档</a></li>
			<li class="Black">操作帮助请详见演示文件!</li>
			<li class="DetillRigh"></li>
		</ul>
	</div>

	<div class="PageContent">
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
		  <tr>
			<td class="LineRightBlue1">
				<table width="95%" border="0" cellpadding="0" cellspacing="0" style="margin-left:20px;">
			  <tr>
				<td width="88%" height="24">网站管理 > 语言管理</td>
				<td width="12%" align="right" class="bt_add">{if $language_manage==true}<a href="language.php?action=add">添加</a>{/if}</td>
			  </tr>
			</table>
			</td>
		  </tr>
		</table>
		
		<form name="theForm" method="post" action="">
        <div class="tablelisthead">
        <ul>
        <li class="li_10">排序</li>
        <li class="li_25">语言名称</li>
        <li class="li_20">所在目录</li>
        <li class="li_15">显示状态</li>
        <li class="li_20" style="text-align:center">是否默认</li>
        <li class="li_10">编辑</li>
        </ul>
        </div>
        <div class="tablelist">
        {section name=loop loop=$language}
        <ul>
        <li class="li_10"><input type="text" value="{$language[loop].sort_order}" name="sort_order[{$language[loop].language_id}]" maxlength="3" size="2" class="listinput" /></li>
        <li class="li_25">{$language[loop].name}</li>
        <li class="li_20">{$language[loop].directory}</li>
        <li class="li_15">{$language[loop].state}</li>
        <li class="li_20" style="text-align:center">{$language[loop].default_value}</li>
        <li class="li_10 operation">{$language[loop].edit}</li>
        </ul>
        {/section}
        </div>
		
		<table width="100%" border="0" cellspacing="0" cellpadding="0" >
		  <tr>
			<td height="36" class="BotNavBg" style="border:none;">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			  <td style="padding-left:5px;border:none;"><input type="button" value=" 排序 " name="button" OnClick="javascript:dosort();"></td>
			  </tr>
			</table>
			</td>
		  </tr>
		</table>
		</form>
	</div>
</div>
<script type="text/javascript">
{literal}
function clearSearchText(searchText){
	if(document.getElementById(searchText).value=="查找产品信息..."){
		document.getElementById(searchText).value="";
	}
}
function doSearchSubmit(){
	if(document.getElementById("searchText").value=="查找产品信息..."){
		document.getElementById("searchText").value="";
	}	
}
function dosort(){
	document.theForm.action="language.php?action=order";
	document.theForm.submit();
}
{/literal}
</script>
{include file="pagefooter.htm"}