<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots" content="noindex, nofollow">
<link href="styles/{$skin}.css" rel="stylesheet" type="text/css" />

{insert_scripts files='./js/common.js'}
{if $randStr!=''}
<link rel="stylesheet" href="styles/upload.css" type="text/css" media="screen, projection"/>
<script type="text/javascript" src="js/moo.js?{$randStr}"></script>
<script type="text/javascript" src="js/moomore.js?{$randStr}"></script>
<script type="text/javascript" src="js/mooadapter.js?{$randStr}"></script>
<script type="text/javascript" src="js/jstools.js?{$randStr}"></script>
<script type="text/javascript" src="js/uploader.js?{$randStr}"></script>
<script type="text/javascript" src="js/fixie6.js?{$randStr}"></script>
<script type="text/javascript" src="js/goodseditor.js?{$randStr}"></script>
<script type="text/javascript" src="js/dialog.js?{$randStr}"></script>
{/if}
</head>
<body leftmargin="10" topmargin="10" marginwidth="10" style="background:#FFFFFF;" marginheight="10" {if $randStr!=''} class="single-page single-page-col2" {/if}>