{include file="pageheader.htm"}
{insert_scripts files='./js/form.js'}
{insert_scripts files='./js/checkForm.js'}
<div class="BodyRight">
	<div class="RightDetill">
		<ul>
			<li class="Green"><a href="http://www.nitc.cc/About-nitc/488.html#_Toc239504390" target="_blank">查看演示文件</a></li>
			<li class="SkyBlue"><a href="help_document.php?action=download">下载演示文档</a></li>
			<li class="Black">操作帮助请详见演示文件!</li>
		</ul>
	</div>
	
	<div class="PageContent">
	<table width="100%" border="0" cellpadding="0" cellspacing="0">
	  <tr>
		<td class="LineRightBlue1">
			<table width="95%" border="0" cellpadding="0" cellspacing="0" style="margin-left:20px;">
		  <tr>
			<td width="88%" height="24">网站管理员 > 修改密码</td>
			<td width="12%" align="right"></td>
		  </tr>
		</table>
		</td>
	  </tr>
	</table>
	
	<form action="privilege.php?action=update_password" method="post" name="update_password" onsubmit="return doPasswordSubmit()">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="ListCategory" style="margin-top:10px;">
		<tr><td style="border:none;">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="Font">
		<tr class="firstalt">
			<td width="110"><span style="padding-left:10px;">旧密码</span></td>
			<td style="padding-top:3px;padding-bottom:3px;">
				<div id="msgbox">
					<div class="msgbase"><input type="password" name="oldpassword" id="oldpassword" onblur="oldPasswordCheck('oldpassword')" class="FormSmall"  style="width:250px;" />
						 <img src="images/required_icon.gif" />					</div>
					<div class="msg" style="width:255px;">
						<div class="" id="oldpasswordMsg" style="display:none;"></div>
					</div>
				</div>
			</td>
		</tr>
		<tr class="secondalt">
			<td ><span style="padding-left:10px;">新密码</span></td>
			<td style="padding-top:3px;padding-bottom:3px;">
				<div id="msgbox">
					<div class="msgbase"><input type="password" name="newpassword" id="newpassword" onblur="newPasswordCheck('newpassword')" class="FormSmall"  style="width:250px;" />
						 <img src="images/required_icon.gif" />
					</div>
					<div class="msg" style="width:255px;">
						<div class="" id="newpasswordMsg" style="display:none;"></div>
					</div>
				</div>				
			</td>
		</tr>							
		<tr class="firstalt">
			<td sytle="padding-left:10px;"><span style="padding-left:10px;">确认密码</span></td>
			<td style="padding-top:3px;padding-bottom:3px;">
					<div id="msgbox">
					<div class="msgbase"><input type="password" name="newpassword1" id="newpassword1" onblur="newPassword1Check('newpassword1')" class="FormSmall"  style="width:250px;" />
						 <img src="images/required_icon.gif" />
					</div>
					<div class="msg" style="width:255px;">
						<div class="" id="newpassword1Msg" style="display:none;"></div>
					</div>
				</div>			
			</td>
	</tr>	
	</table>
		</td></tr>
	</table>
	
	
	<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
		<tr>
			<td align="center">
<input class="bginput" type="submit" name="submit" value=" 更新 " />
<input class="bginput" name="reset" type="reset" value=" 重置 " />
			</td>
		</tr>
		</table>
	</form>
	</div>

</div>
<script type="text/javascript">
{literal}

function clearSearchText(searchText){
	if(document.getElementById(searchText).value=="查找产品信息..."){
		document.getElementById(searchText).value="";
	}
}
function doSearchSubmit(){
	if(document.getElementById("searchText").value=="查找产品信息..."){
		document.getElementById("searchText").value="";
	}	
}

function doPasswordSubmit(){
	CheResult = true;
	firstErrorControl = "";
	if(oldPasswordCheck("oldpassword") == false)
		CheResult = false;

	if(newPasswordCheck("newpassword") == false)
		CheResult = false;
	
	if(newPassword1Check("newpassword1") == false)
		CheResult = false;		
	
	SetMsgFocus();
	return CheResult;
}

{/literal}
</script>
{include file="pagefooter.htm"}