 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
IMG {
	boder: 0
}
HTML {
	FONT-SIZE: 12px; HEIGHT: 100%; max-height: 100%
}
BODY {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: -80px 50%; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../images/default.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: "ו"; HEIGHT: 100%; max-height: 100%
}
.inputt {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #999999 1px solid; WIDTH: 110px; COLOR: #333333; PADDING-TOP: 0px; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: font-family:Tahoma,Verdana; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff
}
