<?xml version="1.0" encoding="utf-8" ?>
<nitc>
    <conf>
        <skin_directory>blue_cn_en</skin_directory>
		<theme_title>Nitc 蓝色简洁商业主题</theme_title>
		<theme_author>Longi</theme_author>
		<theme_version>3.2</theme_version>
		<logo_size>宽度：342px，高度：81px</logo_size>
		<theme_description>NITC效益型网站蓝色简洁商业主题.</theme_description>
		
		<adv_flag>banner</adv_flag>
		<adv_size>宽度：760px，高度：260px</adv_size>
		<adv_description>首页Banner广告位</adv_description>
    </conf>
</nitc>